<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuildPeerConnection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>QBRTCDemo copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QBRTCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QBRTCDemo_s.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14015A381BFCD08400830618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1452AACD1BF92FA30018DA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1452AB841BF9315E0018DA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148233801C002DFE0000E9ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14FC45F81C4EE8FD00C1797D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14FC46691C4FF82000C1797D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
